.register {
  width: 100%;
  min-height: 100vh;
  padding: 100px 20px;
  background: #e9e9e9;
  display: flex;
  .registerContainer {
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 8, 80, 0.828);
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
    h1 {
      color: white;
      font: {
        size: 30px;
        weight: 500;
      }
    }
    .errorMessage {
      color: red !important;
      font: {
        size: 18px;
        weight: 500;
      }
    }
    label {
      color: white;
      margin: 14px 0;
      display: block;
      font-size: 22px;
      line-height: 1;
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 19px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      letter-spacing: 1px;
    }
    .btnContainer {
      width: 100%;
      padding: 24px 0;
      p {
        margin: 14px 0 0 0;
        text-align: right;
        color: #fff;
      }
    }
    .newUser {
      text-align: end;
      color: white;
      margin-top: 20px;
      p {
        a {
          color: yellow;
          font-weight: 500;
        }
      }
    }
    .errorMsg {
      color: red;
      font-size: 16px;
    }
    button {
      border: none;
      outline: none;
      width: 100%;
      padding: 15px 0;
      color: #fff;
      font-size: 16px;
      letter-spacing: 1px;
      background: #2f6cbd;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
