* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  background-color: white;
  scroll-behavior: smooth;
  letter-spacing: 0.7px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none !important;
  color: white;
  cursor: pointer;
}
